{% extends "base.html" %}

{% load static %}

{% block css_files %}
<link rel="stylesheet" href="{% static "port/service.css" %}" />
{% endblock %}

{% block content %}

<nav class="navbar">
    <div class="max-width">
        <div class="logo"><a href="#">Portfo<span>lio.</span></a></div>
        <ul class="menu">
            <li><a href="home">Home</a></li>
            <li><a href="about">About</a></li>
            <li><a href="service">Services</a></li>
            <li><a href="skill">Skills</a></li>
            <li><a href="contact">Contact</a></li>
        </ul>
        <div class="menu-btn">
          <i class="fa fa-bars"></i>
      </div> 
    </div>
</nav>


<section class="service" id="service">
    <div class="max-width">
        <h2 class="title">My Services</h2>
        <div class="serv-content">
            <div class="card">
                <div class="box">
                    <i class="fas fa-paint-brush"></i>
                    <div class="text">Web Design</div>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Minima laborum ea, ducimus
                        consectetur error voluptatem, iste quasi consequuntur ipsa id obcaecati rem architecto,
                        corporis aliquam quae laudantium. Commodi cumque nostrum reiciendis quas aperiam
                    </p>
                </div>
            </div>

            <div class="card">
                <div class="box">
                    <i class="fas fa-chart-line"></i>
                    <div class="text">Advertising</div>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Minima laborum ea, ducimus
                        consectetur error voluptatem, iste quasi consequuntur ipsa id obcaecati rem architecto,
                        corporis aliquam quae laudantium. Commodi cumque nostrum reiciendis quas aperiam
                    </p>
                </div>
            </div>

            <div class="card">
                <div class="box">
                    <i class="fa-solid fa-code"></i>
                    <div class="text">App Design</div>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Minima laborum ea, ducimus
                        consectetur error voluptatem, iste quasi consequuntur ipsa id obcaecati rem architecto,
                        corporis aliquam quae laudantium. Commodi cumque nostrum reiciendis quas aperiam
                    </p>
                </div>
            </div>

        </div>
    </div>
</section>

<footer>
    <span>Created By <a href="#">Nishant</a> | <span class="far fa-copyright"></span> All rights reserved</span>
</footer>
{% endblock %}