{% extends "base.html" %}

{% load static %}

{% block css_files %}
<link rel="stylesheet" href="{% static "port/skill.css" %}" />
{% endblock %}


{% block script %}
<script type="text/javascript" src="{% static "port/index.js" %}"></script>
<script type="text/javascript" src="{% static "port/type.js" %}"></script>
{% endblock %}


{% block content %}

<nav class="navbar">
    <div class="max-width">
        <div class="logo"><a href="#">Portfo<span>lio.</span></a></div>
        <ul class="menu">
            <li><a href="home">Home</a></li>
            <li><a href="about">About</a></li>
            <li><a href="service">Services</a></li>
            <li><a href="skill">Skills</a></li>
            <li><a href="contact">Contact</a></li>
        </ul>
        <div class="menu-btn">
          <i class="fa fa-bars"></i>
      </div> 
    </div>
</nav>



<section class="skills" id="skills">
    <div class="max-width">
        <h2 class="title">My skills</h2>
        <div class="skills-content">
            <div class="column left">
                <div class="text">My creative skills & experience</div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore nobis alias omnis atque officiis
                    cumque molestiae natus dolorem non sed iste, unde at? Voluptatem consectetur dolor ipsa dolorem
                    dicta, quae ut veniam provident cum ipsum nihil illum maiores, commodi tempora, illo iusto quos?
                </p>
                <a href="#">Read more</a>
            </div>
            <div class="column right">
                <div class="bars">
                    <div class="info">
                        <span>HTML</span>

                    </div>
                    <div class="line html"></div>
                </div>
                <div class="bars">
                    <div class="info">
                        <span>CSS</span>

                    </div>
                    <div class="line css"></div>
                </div>
                <div class="bars">
                    <div class="info">
                        <span>JavaScript</span>

                    </div>
                    <div class="line JavaScript"></div>
                </div>
                <div class="bars">
                    <div class="info">
                        <span>Django</span>

                    </div>
                    <div class="line Django"></div>
                </div>
                <div class="bars">
                    <div class="info">
                        <span>MySQL</span>

                    </div>
                    <div class="line MySQL"></div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}